body{
	text-align : center;
}
	
.text 
{
	width : 70%;
	font-family : arial;
	border-radius : 0px;
	padding : 5px;
}

.min
 {
	width : 50%;
	font-family : arial;
	border-radius : 0px;
	padding : 5px;
}
.max
 {
	width : 80%;
	font-family : arial;
	border-radius : 0px;
	padding : 5px;
}
	
#red {
	background-color : red;
}
	
.tData {
	width : 20px;
	margin-left : 0px;
	margin-right: 0px;
}
	
#outputTable {
	width : 35%;
	border : 3px solid black;
	border-collapse : collapse;
}
	
.outputRow {
	height : 40px;
	border-bottom : 1px solid black;
}
	
.tdName {
	width : 10%;
	border-right: 3px solid black;
}
	
#resultTable {
	margin-left : 30%;
	margin-right : 30%;
	
}
	
submit {
	margin-left : 10px;
}